---
title: Welcome to BISON
---
<%= image_tag 'bison.png' %>
<div class="welcome">
  <h1>Coming soon!</h1>
  <p class="doc">
  BISON LTD - Premium bycicle equipment
  </p><!-- .doc -->
</div><!-- .welcome -->